body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}


ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0;
}

.header {
    display: flex;
    width: 1440px;
    border-bottom: 1px solid #e7e9fc;
    align-items: center;
    padding: 0 156px;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.16667;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-part {
    color: #2e2f42;
}

.nav {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}


.address-link {
    color: inherit;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.title-section {
    background-color: #2e2f42;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 188px 0;
}

.title-section .page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    color: #ffffff;
    text-align: center;
}

.title-section .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
}

.title-section .button:hover,
.title-section .button:focus {
    background: #404bbf;
}

.section2 {
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding: 120px 0;
}

.section2 .section2-part {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px; 
    width: 264px;
}

.section2 .section2-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.section2 .section2-text {
    font-weight: 500;
}

.team {
    width: 1440px;
    background: #f4f4fd;
    padding: 120px 0;
}

.team .team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.team .team-card {
    background: inherit;
    border-radius: 0 0 4px 4px;
    width: 264px;
    padding: 0px 0px 32px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.team .team-photo {
    width: 264px;
    display: block;
    max-width: 100%;
    height: auto;
}

.team .team-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.team .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: #2e2f42;
    text-align: center;
    padding-bottom: 72px;
}

.team .team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.portfolio {
    width: 1440px;
    padding: 120px 0;
}

.portfolio .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: #2e2f42;
    text-align: center;
    padding-bottom: 72px;
}

.portfolio .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio .portfolio-card {
    width: 360px;
    height: 420px;
    display: flex;
    flex-direction: column;
}

.portfolio .portfolio-pictures {
    width: 360px;
    height: 300px;
}

.portfolio .portfolio-box {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
    width: 360px;
}

.portfolio .portfolio-appname {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.footer {
    width: 1440px;
    background: #2e2f42;
    padding: 100px 0 100px 156px;
}

.logo-footer {
    color: #f4f4fd;
}

.footer .footer-text {
    color: #f4f4fd;
    padding-top: 16px;
}